Django>=4.2.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0
django-cors-headers>=4.0.0
python-decouple>=3.8
Pillow>=10.0.0
requests>=2.31.0
django-mongodb-backend==6.0.*

# Production server
gunicorn>=21.2.0

# Efficient static file serving in production
whitenoise>=6.6.0
